# Compiled JavaScript files
lib/
*.js
*.js.map

# TypeScript cache
*.tsbuildinfo

# Node.js dependencies
node_modules/

# Firebase cache
.firebase/

# Firebase debug logs
firebase-debug.log*
firebase-debug.*.log*

# Environment files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*





