# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store
*.pem

# Debugging
*.log*

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage/

# Build
build/

